<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Matches :</h1>
        <div class="row">
            <div class="col"><input
                [(ngModel)]="date"  (change)="search()" class="form-control" type="date" name="date" id="date" required ></div>    
        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Matches</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table  *ngIf="matchList.length!=0" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        

                        <tr *ngFor="let match of matchList">

                            <th scope="row">{{ match.category.name }}:</th>

                            <td>{{ match.team.name }}</td>
                            <td>VS </td>
                            <td>{{ match.opponent }}</td>
                            <td *ngIf="match.status=='NotStarted'">start at {{ formatDate(match.time) }}</td>
                            <td *ngIf="match.status=='Finished'">final score {{ match.myScore }}:{{match.opponentScore}}</td>
                            <td *ngIf="match.status=='Live'">live score {{ match.myScore }}:{{match.opponentScore}} </td>
                            <td>
                                <a style="margin-right: 10px;" class="edit" [routerLink]="['/newMatch',match.category.id,match.id]" title="Edit" data-toggle="tooltip"><i class="fas fa-edit" style="color: #149050;"></i></a>
                                <a class="delete" [routerLink]="['/live',match.id]"  title="Edit" data-toggle="tooltip"><i class="fas fa-eye" style="color: #149050;"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    

                </table>
                <h5 *ngIf="matchList.length==0" class="text-center">There are no matches today.</h5>
            </div>
        </div>
    </div>

</div>


<!-- /.container-fluid -->