<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{category.name}}</h1>
        <div>
            <a style="margin-right: 2px;" [routerLink]="['/addPlayer',category.id]" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Create Player</a>
        </div>
    </div>
    <div class="row g-2">
        <div *ngFor="let player of playerList" class="col-4">
            <div class="card" style="width: 18rem;">
                <img [routerLink]="['/addPlayer',category.id,player.id]" src="https://www.w3schools.com/howto/img_avatar.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{player.firstName}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.container-fluid -->
