<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input
                                            [ngClass]="{'is-invalid':registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched}"
                                            type="text" class="form-control form-control-user" id="exampleFirstName"
                                            name="firstName" formControlName="firstName"
                                            [(ngModel)]="registerReq.firstName" placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text"
                                            [ngClass]="{'is-invalid':registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched}"
                                            class="form-control form-control-user" id="exampleLastName" name="lastName"
                                            formControlName="lastName" [(ngModel)]="registerReq.lastName"
                                            placeholder="Last Name">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <input
                                        [ngClass]="{'is-invalid':registerForm.controls['email'].invalid && registerForm.controls['email'].touched}"
                                        type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        name="email" formControlName="email" [(ngModel)]="registerReq.email"
                                        placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <input
                                        [ngClass]="{'is-invalid':registerForm.controls['username'].invalid && registerForm.controls['username'].touched}"
                                        type="text" class="form-control form-control-user" id="exampleInputEmail"
                                        name="username" formControlName="username" [(ngModel)]="registerReq.username"
                                        placeholder="username">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input
                                            [ngClass]="{'is-invalid':registerForm.controls['password'].invalid && registerForm.controls['password'].touched}"
                                            type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" name="password"
                                            formControlName="password" [(ngModel)]="registerReq.password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input
                                            [ngClass]="{'is-invalid':registerForm.controls['confirm_password'].invalid && registerForm.controls['confirm_password'].touched}"
                                            type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password"
                                            name="confirm_password" formControlName="confirm_password"
                                            [(ngModel)]="registerReq.confirm_password">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>
                                <div class="text-center">
                                    <a class="small" [routerLink]="'/reset'">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" [routerLink]="'/login'">Already have an account? Login!</a>
                                </div>
                            </form>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>