<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Fiche Player</h1>
    </div>
    <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">First name</label>
                <input name="firstName" formControlName="firstName" [(ngModel)]="player.firstName" type="text"
                    [ngClass]="{'is-invalid':playerForm.controls['firstName'].invalid && playerForm.controls['firstName'].touched}"
                    class="form-control is-invalid" aria-label="First name">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Last name</label>
                <input name="lastName" formControlName="lastName" [(ngModel)]="player.lastName" type="text"
                    [ngClass]="{'is-invalid':playerForm.controls['lastName'].invalid && playerForm.controls['lastName'].touched}"
                    class="form-control" aria-label="Last name">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input name="email" formControlName="email" [(ngModel)]="player.email" type="email" class="form-control"
                    [ngClass]="{'is-invalid':playerForm.controls['email'].invalid && playerForm.controls['email'].touched}"
                    id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputAddress" class="form-label">Birthdate</label>
                <input name="birthdate" formControlName="birthdate" [(ngModel)]="player.birthdate" type="date"
                    [ngClass]="{'is-invalid':playerForm.controls['birthdate'].invalid && playerForm.controls['birthdate'].touched}"
                    class="form-control" id="inputAddress">
            </div>
            <label for="inputState" class="form-label">Position</label>
            <select name="position" formControlName="position" [(ngModel)]="player.position" id="inputState"
                [ngClass]="{'is-invalid':playerForm.controls['position'].invalid && playerForm.controls['position'].touched}"
                class="form-select">
                <option selected>Choose position...</option>
                <option value="GOALKEEPER">Goalkeeper</option>
                <option value="PLAYER">Player</option>
            </select>
            <div class="col-6">
                <label for="inputAddress2" class="form-label">Phone Number</label>
                <input name="phoneNumber" formControlName="phoneNumber" [(ngModel)]="player.phoneNumber" type="text"
                    [ngClass]="{'is-invalid':playerForm.controls['phoneNumber'].invalid && playerForm.controls['phoneNumber'].touched}"
                    class="form-control" id="phoneNumber">
            </div>
            <div class="col-6">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Height</label>
                <div class="input-group mb-3">
                    <input name="height" formControlName="height" [(ngModel)]="player.height" type="number"
                        [ngClass]="{'is-invalid':playerForm.controls['height'].invalid && playerForm.controls['height'].touched}"
                        class="form-control" id="Height">
                    <span class="input-group-text" id="basic-addon1">cm</span>

                </div>
            </div>
            <div class="col-md-6">
                <label for="inputZip" class="form-label">Weidth</label>
                <div class="input-group mb-3">
                    <input name="width" formControlName="width" [(ngModel)]="player.width" type="number"
                        [ngClass]="{'is-invalid':playerForm.controls['width'].invalid && playerForm.controls['width'].touched}"
                        class="form-control" id="Width">
                    <span class="input-group-text" id="basic-addon1">kg</span>

                </div>
            </div>
            <!-- <div class="col-md-6">
                <label for="inputState" class="form-label">Sexe</label>
                <select name="sexe" formControlName="sexe" [(ngModel)]="player.sexe" id="inputState"
                    [ngClass]="{'is-invalid':playerForm.controls['sexe'].invalid && playerForm.controls['sexe'].touched}"
                    class="form-select">
                    <option selected>Choose sexe...</option>
                    <option>Homme</option>
                    <option>Femme</option>
                </select>
            </div> -->

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save player</button>
            </div>
        </div>

    </form>

    <div *ngIf="update" style="margin-top: 10px;" class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Player statistic</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Opponent</th>
                            <th>Shots</th>
                            <th>Goals</th>
                            <th>Saves</th>
                            <th>minutes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ps of playerStats |slice: (page-1) * pageSize : page * pageSize" >
                            <th scope="row" *ngIf="ps.match.opponent!= null">{{ ps.match.opponent }}</th>
                            <td>{{ ps.shots }}</td>
                            <td>{{ ps.goals }}</td>
                            <td>{{ ps.saves }}</td>
                            <td>{{ ps.minutes }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="collectionSize"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.container-fluid -->