<div class="container">
    <div class="scoreboard">
        <div class="row team-container">
            <div class="col-4">
                <h2 *ngIf="team!=null" class="team-name">{{ team.name }}</h2>
            </div>
            <div class="col-4">
                <div class="row" style="padding: 2px;">
                    <div class="col-4 text-end"><h2 class="score" *ngIf="match!=null">{{ match.myScore }}</h2></div>
                    <div class="col-4 text-center"><h2 class="score">:</h2></div>
                    <div class="col-4"><h2 class="score" *ngIf="match!=null">{{ match.opponentScore }}</h2></div>
                </div>
            </div>
            <div class="col-4">
                <h2 class="team-name text-end" *ngIf="match!=null">{{ match.opponent }}</h2>
            </div>
        </div>
        <div class="text-center">
            <button class="score-button" style="margin: 1px;" (click)="incrementScore('A')">+1</button>
            <button class="score-button" style="margin: 1px;" (click)="incrementScore('B')">+1</button>
        </div>
    </div>
        <!-- DataTales Example -->
        <div style="margin-top: 10px;" class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Statistic by player</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Player name</th>
                                <th>Shots</th>
                                <th>Goals</th>
                                <th>Saves</th>
                                <th>minutes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ps of playerStat">
                                <th scope="row">{{ ps.player.firstName }} {{ ps.player.lastName }}</th>
                                <td>
                                    <button class="btn btn-sm btn-danger minus" (click)="decrementShot(ps.player.id)">
                                        <i class="fas fa-minus"></i>
                                      </button>
                                      <button class="btn btn-sm btn-success plus" (click)="incrementShot(ps.player.id)">
                                        <i class="fas fa-plus"></i>
                                      </button>
                                      {{ ps.shots }}
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger minus" (click)="decrementGoals(ps.player.id)">
                                        <i class="fas fa-minus"></i>
                                      </button>
                                      <button class="btn btn-sm btn-success plus" (click)="incrementGoals(ps.player.id)">
                                        <i class="fas fa-plus"></i>
                                      </button>
                                    {{ ps.goals }}</td>
                                <td>
                                    <button class="btn btn-sm btn-danger minus" (click)="decrementSaves(ps.player.id)">
                                        <i class="fas fa-minus"></i>
                                      </button>
                                      <button class="btn btn-sm btn-success plus" (click)="incrementSaves(ps.player.id)">
                                        <i class="fas fa-plus"></i>
                                      </button>
                                    {{ ps.saves }}</td>
                                <td>
                                    <button class="btn btn-sm btn-danger minus" (click)="decrementMinutes(ps.player.id)">
                                        <i class="fas fa-minus"></i>
                                      </button>
                                      <button class="btn btn-sm btn-success plus" (click)="incrementMinutes(ps.player.id)">
                                        <i class="fas fa-plus"></i>
                                      </button>
                                    {{ ps.minutes }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button (click)="update()" type="button" class=" btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i>Update stats</button>
</div>